<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DigitalFactory.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <clear />
    <add name="ServerPassword"
     providerName="System.Data.ProviderName"
     connectionString="prstoryPassword6" />
  </connectionStrings>
    <userSettings>
        <DigitalFactory.MySettings>
            <setting name="DefaultLineIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DefaultSite" serializeAs="String">
                <value>All Sites</value>
            </setting>
            <setting name="DefaultBU" serializeAs="String">
                <value>All Sectors</value>
            </setting>
            <setting name="areDatesSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultMappingLevel" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="maxMinCOgap" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="inControl_useRule1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="inControl_useRule2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="inControl_useRule3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="inControl_useRule4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CSV_ExportPath" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="LanguageActive" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="populateDTteamsFromPROD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="maxuptimecutoff" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="displaySAPnames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="inControl_useRule5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="inControl_useRule6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdvancedSettings_MultiConstraintAnalysisMode"
                serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="defaultDownTimeField" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="AdvancedSettings_isAvailabilityMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultDownTimeField_Secondary" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WantstoSetDefaultLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdvancedSettings_isTargetsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdvancedSettings_isPasswordCorrect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Data_UptimeCutoff" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Data_DowntimeCutoff" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="AdvancedSettings_UseNotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdvancedSettings_UseSimulation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PDT_maxMinutesBetweenEvents" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultLineName" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DefaultSiteAcronym" serializeAs="String">
                <value>GBO</value>
            </setting>
            <setting name="DefaultModuleName" serializeAs="String">
                <value>Skin Care</value>
            </setting>
            <setting name="LastEndDate" serializeAs="String">
                <value />
            </setting>
            <setting name="LastStartDate" serializeAs="String">
                <value />
            </setting>
            <setting name="AdvancedSettings_PlaySnake" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdvancedSettings_DTcutoff" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ShowUpdateNews" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdvancedSettings_UTcutoff" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MultilineSelection" serializeAs="String">
                <value>x</value>
            </setting>
            <setting name="MultilineRememberSelection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultStartTimeMinutes" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DefaultEndTimeMinutes" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AdvancedSettings_ProdUseMinutes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdvancedSettings_AvailUseMinutes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultStartTimeHour" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DefaultEndTimeHour" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="EnableTimeSpanExclusion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Exclude_StartHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Exclude_EndHour" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="Exclude_StartMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Exclude_EndMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PostMap_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PostMap_Field1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PostMap_Field2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PostMap_Field3" serializeAs="String">
                <value>-1</value>
            </setting>
        </DigitalFactory.MySettings>
    </userSettings>
</configuration>